<div style="width: 30vw;">
    <nav class="nav flex-column">
        <a class="nav-link" href="/manage/admin/">Admin</a>
        <a class="nav-link" href="/manage/admin/users">Users</a>
        <a class="nav-link" href="/manage/admin/goods">Goods</a>
        <a class="nav-link" href="/manage/admin/tables">Tables</a>
        <a class="nav-link" href="/manage/admin/tags">Tags
        <a class="nav-link" href="/manage/admin/tags/place">Order Place</a>
        <a class="nav-link" href="/manage/admin/tags/type">Order Type</a>
        </a>
        <!-- <a class="nav-link" href="/manage/admin/tags">Oznacenia</a> -->
    </nav>
</div>