<form method="post" class="p-5 rounded" style="background-color: cornflowerblue;">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.price.id_for_label }}">Price:</label>
        {{ form.price }}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.count.id_for_label }}">Count:</label>
        {{ form.count }}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.place.id_for_label }}">Place:</label>
        {{ form.place }}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>