<form method="post" class="p-5 rounded" style="background-color: cornflowerblue;">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
    </div>
    <div class="form-group mb-3">
        <label for="{{ form.role.id_for_label }}">Role:</label>
        {{ form.role }}
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>