{% extends 'index.html' %}
{% load static %}
{% block content %}
<h1>New order</h1>
<section class="d-flex flex-column justify-content-between align-items-center" style="height: 80vh;">
    <div class="d-flex flex-column opened" id="type_section">
        {% for item in form.order_type.field.choices %}
        <button type="button" class="btn btn-outline-primary mb-1 type_button" data-value="{{ item.0 }}">{{ item.1 }}</button>
        {% endfor %}
    </div>
    <div id="goods_section" class="d-none">
        <div class="row">
            {% for place in places %}
            <div class="col">
                <button style="min-width: 8rem;" type="button" class="btn {{ place.color }} mb-1 place_button"
                    data-value="{{ place.name }}">{{ place.name }}</button>
            </div>
            {% endfor %}
        </div>
        {% for place in places %}
        <div class="row row-cols-3 d-none" id="{{ place.name }}_items" style="height: 40px;">
            {% for item in goods %}
            {% if place == item.place %}
            <div class="col">
                <button style="min-width: 8rem;" type="button" class="btn btn-outline-primary mb-3 item_button" data-value="{{ item.name }}">{{ item.name }}</button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
        <form method="POST" class="p-5 rounded d-none" id="goods_form" style="background-color: cornflowerblue;">
            <h2 id="form_goods_name"></h2>
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="quantity">Count:</label>
                <input type="number" name="quantity" class="form-control" min="1" required>
            </div>
            <div class="form-group mb-3">
                <label for="note">Note:</label>
                <textarea name="note" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Cancel</button>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
    <div id="name_section" class="d-none">
        <div class="d-none" id="rajon_order">
            <div class="row row-cols-3" id="tables_display" style="height: 40px;">
                {% for item in table_data %}
                <div class="col">
                    <button style="min-width: 8rem;" type="button" class="btn btn-outline-primary mb-3 table_button" data-value="{{ item.table.name }}">{{ item.table.name }}</button>
                </div>
                {% endfor %}
            </div>
            {% for item in table_data %}
            <div class="row row-cols-3 d-none" id="tables_{{ item.table.name }}" style="height: 40px;">
                {% for num in item.number_list %}
                    <div class="col">
                        <button style="min-width: 4rem;" type="button" class="btn btn-outline-primary mb-3" data-value="table_{{ num }}">{{ num }}</button>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="d-none" id="other_order">
            <form method="post" class="p-5 rounded">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                    {{ form.name }}
                </div>
            </form>
        </div>
    </div>
    <div id="final_section" class="d-none">
        <form method="post" class="p-5 rounded" style="background-color: cornflowerblue;">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="{{ form.note.id_for_label }}">Note:</label>
                {{ form.note }}
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
    <div>
        <div class="mb-5 row">
            <div class="col"><button style="min-width: 8rem;" type="button" class="btn btn-warning button_controller prev">Previous</button></div>
            <div class="col"><button style="min-width: 8rem;" type="button" class="btn btn-success button_controller">Next</button></div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <button style="min-width: 8rem;" type="button" class="btn btn-outline-primary mb-1"
                        id="type_button">Type</button>
                </div>
                <div class="col">
                    <button style="min-width: 8rem;" type="button" class="btn btn-outline-primary mb-1"
                        id="goods_button">Goods</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button style="min-width: 8rem;" type="button" class="btn btn-outline-primary mb-1"
                        id="name_button">Name</button>
                </div>
                <div class="col">
                    <button style="min-width: 8rem;" type="button" class="btn btn-outline-primary mb-1"
                        id="final_button">Final</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/order.js' %}"></script>
<script>
    var placesData = {{ places_js| safe }};
</script>
{% endblock %}